body {
    font-family: Arial, sans-serif;
    background-color:white;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    background-color: #3e80d6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100vh;
    height:100vh;
    
    text-align: center;
}

.profile-pic {
    margin-bottom: 20px;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

.profile-pic button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-pic button:hover {
    background-color: #0056b3;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width:100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.gender-group {
    margin-bottom: 20px;
    text-align: left;
}

.gender-group label {
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 5px;
}
.camera-icon {
    position: relative;
    translate: ;
    bottom: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: gray;
    cursor: pointer;
    border: 1px solid #ccc;
}
.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-pic {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid white;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}